.info-runner {
  font-style: oblique;
  font-size: 2.6rem;
}
.title-runners {
  font-family: 'Bangers', cursive;
  font-size: 50px;
}
.img-sponsor {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}