.info-runner {
  font-style: oblique;
  font-size: 2.6rem;
}
.text-primary-runners {
  color: $primary-runners;

  &:hover {
    color: $primary-dark-runners;
  }
}
.title-runners {
  font-family: 'Bangers', cursive;
  font-size: 50px;
}
.title-h3 {
  color: $teal !important;
}
// Registration Form
.card-select-registration-type {
  &:hover {
    border-style: solid ;
    border-width: 2px;
    border-color: $primary-dark-runners;
    cursor: pointer;
    background-color: #eeeeef;
  }

  &.selected {
    border-style: solid !important;
    border-width: 2px !important;
    border-color: $primary-runners !important;
  }
  &.selected-info {
    border-style: solid !important;
    border-width: 4px !important;
    border-color: #BF55BD  !important;
  }
}
.img-sponsor {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
